// Variables
$font-family-main: 'Poppins', sans-serif;
$text-size:12px;
$text-color: #999;
$white: white; 
$black: black;
$btn-submit:#3c3ea5;
$header-color:#3e3da3;
$primary-color: #ddd;
$secondary-color: #ccc;
$teritiery-color: #fff;
